# Variables y configuracion local
.env
.env.*
!.env.example

# Dependencias y compilacion
node_modules/
dist/
target/
.angular/
coverage/

# Logs y archivos del sistema
*.log
.DS_Store
Thumbs.db

# Archivos locales de herramientas de migracion
**/.github/modernize/

# Local database files
**/data/
*.mv.db
*.trace.db
